---
- name: Install and setup Image Viewer
  vars:
    app_id: com.interversehq.qView
    # app_id: org.kde.koko
  block:
    - name: Install {{ app_id }} with flatpak
      community.general.flatpak:
        method: user
        state: present
        remote: flathub
        name: ['{{ app_id }}']
    - name: Configure {{ app_id }} flatpak overrides
      copy:
        dest: '{{ xdg_data_home }}/flatpak/overrides/{{ app_id }}'
        content: |
          [Context]
          shared=!network
        mode: '0644'
        backup: false
    - name: Make {{ app_id }} as default image viewer
      community.general.xdg_mime:
        mime_types:
          # vector
          - image/svg+xml  # {'*.svg'}
          # lossless
          - image/bmp  # {'*.dib', '*.bmp'}
          - image/png  # {'*.png'}
          # - image/apng  # {'*.png', '*.apng'}
          - image/gif  # {'*.gif'}
          # mkv container
          - image/webp  # {'*.webp'}
          # mp4 container
          # - image/heif  # {'*.heic', '*.heif', '*.hif'}
          - image/avif  # {'*.avif', '*.avifs'}
          - image/avif-sequence
          # jpeg's
          - image/jpeg  # {'*.jpg', '*.jpeg', '*.jpe', '*.jfif'}
          # - image/x-jpeg
          # - image/jp2  # {'*.jp2', '*.jpg2'}
          # - image/jxl  # {'*.jxl'}
          # - image/jxr  # {'*.wdp', '*.hdp', '*.jxr'}
          # raw
          # - image/x-adobe-dng  # {'*.dng'}
          # scan
          # - image/tiff  # {'*.tif', '*.tiff'}
          # icon
          # - image/vnd.microsoft.icon  # {'*.ico'}
          # - image/x-icns  # {'*.icns'}
        handler: '{{ app_id }}.desktop'
