# https://github.com/denisidoro/navi/blob/master/docs/cheatsheet_syntax.md
snippet % "tags"
	% ${1:tag1, tag2, tag3}
snippet "#" "description of commands"
	# ${1: blabla}
snippet "$" "commands that generate a list of possible values"
	$ ${1: var}: ${2: command}
snippet "@" "reuse variable form other cheatsheets"
	@ ${1:same, tags, from, other, cheatsheets}
