# snippet snip New snippet
# 	snippet ${1:trigger_world} "${2:description}" ${3:ultisnips-snippet-options}
# 	$0
# 	`printf("endsnippet")`

snippet snip New snippet
	snippet "${1:trigger-word}" "${2:description}"
	$0
