root = true

[*]
end_of_line = lf
charset = utf-8
tab_width = 8
insert_final_newline = true
trim_trailing_whitespace = true

[justfile]
indent_style = space
indent_size = 4

[*.lua]
indent_style = space
indent_size = 2
max_line_length = 100

[*.py]
indent_style = space
indent_size = 4
max_line_length = 80

[*.{fish,zsh,sh,profile,env,envrc}]
indent_style = space
indent_size = 4
max_line_length = 80

[*.{json,jsonc,yaml,yml,toml,conf}]
indent_style = space
indent_size = 2

[*.{md}]
indent_style = space
indent_size = 4

[*.snippets]
indent_style = tab

[.gitmodules]
indent_style = tab
indent_size = 8
tab_width = 8
