# shellcheck shell=sh

if [ ! -f .git/hooks/pre-commit ]; then
    prek install
fi

if [ ! -f .git/hooks/pre-merge-commit ]; then
    prek install -t pre-merge-commit
fi

if [ ! -f .git/hooks/pre-push ]; then
    prek install -t pre-push
fi

if [ -f .pre-commit-config.yaml ]; then
    if [ "$(find .pre-commit-config.yaml -mtime +7)" ]; then
        log_status "pre-commit-config.yaml is older than 1 week, running autoupdate..."
        pre-commit autoupdate
    fi
fi
