# shellcheck shell=sh

if [ ! -f .git/hooks/pre-commit ]; then
    prek install
fi

if [ ! -f .git/hooks/pre-merge-commit ]; then
    prek install -t pre-merge-commit
fi

if [ ! -f .git/hooks/pre-push ]; then
    prek install -t pre-push
fi

# Skip worktree for fcitx5 profile to avoid local changes being committed
git update-index --skip-worktree "profiles/40-linux-desktop/xdg-config/fcitx5/profile" 2>/dev/null
git update-index --skip-worktree "profiles/40-linux-desktop/xdg-config/fcitx5/conf/hangul.conf" 2>/dev/null
git update-index --skip-worktree "profiles/40-kde/xdg-config/plasmaparc" 2>/dev/null

if [ "$(hostname)" != "hemera" ]; then
    git update-index --skip-worktree "profiles/40-kde/xdg-config/kglobalshortcutsrc" 2>/dev/null
fi
