[submodule "lib/dotbot"]
	path = lib/dotbot
	url = git@github.com:anishathalye/dotbot
[submodule "profiles/common/xdg-data/zimfw"]
	path = profiles/common/xdg-data/zimfw
	url = https://github.com/zimfw/zimfw.git
[submodule "profiles/common/xdg-data-home/zimfw"]
	path = profiles/common/xdg-data-home/zimfw
	url = git@github.com:zimfw/zimfw.git
[submodule "profiles/desktop/xdg-config-home/mpv/script-repos/thumbfast"]
	path = profiles/desktop/xdg-config-home/mpv/script-repos/thumbfast
	url = git@github.com:po5/thumbfast.git
