[Desktop Entry]
Exec=1password --quick-access
Name=1password-quick-access
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
