snippet sl insert link
	[${2:label}](${1:$TM_SELECTED_TEXT})$0
snippet scode "code block"
	\`\`\`${1:lang}
	${TM_SELECTED_TEXT}$0
	\`\`\`
snippet *** thematic break
	---
snippet sthematic-break thematic break
	---
snippet stable
	| $0name  | foo  |
	| :------ | :--: |
	| foobar  | bar  |
snippet c "`` block"
	`${1:$TM_SELECTED_TEXT}\` $0
