---
- name: Check if google-chrome exists in PATH
  command: which google-chrome-stable
  register: chrome_check
  failed_when: false
  changed_when: false
- name: Progress if google-chrome is installed
  when: [chrome_check.rc == 0]
  block:
    - name: Remove various association from google-chrome
      vars:
        app_id: com.google.Chrome
      block:
        - name: Ensure {{ app_id }} is removed from association
          ini_file:
            path: '{{ mimeapps_path }}'
            section: Removed Associations
            option: '{{ item }}' # mime
            mode: '0644'
            value: >-
              {{ (
                  lookup('ansible.builtin.ini', item,
                         section='Removed Associations',
                         file=mimeapps_path,
                         errors='ignore') | default('', true)
                 )
                 + app_id + '.desktop;'
                 if (app_id + '.desktop;') not in
                    (lookup('ansible.builtin.ini', item,
                            section='Removed Associations',
                            file=mimeapps_path,
                            errors='ignore') | default('', true))
                 else
                    (lookup('ansible.builtin.ini', item,
                            section='Removed Associations',
                            file=mimeapps_path,
                            errors='ignore') | default('', true))
              }}
          loop:
            - application/pdf
            - application/rdf+xml
            - application/rss+xml
            - application/xml
            - image/gif
            - image/jpeg
            - image/png
            - image/webp
            - x-scheme-handler/http
            - x-scheme-handler/https
