snippet ls "lib.strings."
	lib.strings.
snippet lsreadFile "builtins.readFile :: Path -> String"
	readFile ${0:path}
snippet lsconcatStringsSep "builtins.concatStringsSep :: string -> [string] -> string"
	concatStringsSep "$1" [$0]
snippet lsoptionalString "optionalString :: bool -> string -> string"
	optionalString (${1:bool}) (${0:$TM_SELECTED_TEXT})
snippet lsconcatLines "concatLines :: [string] -> string"
	concatLines [$0]
