[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=112,111,110
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate={{base02-rgb-r}},{{base02-rgb-b}},{{base02-rgb-b}}
BackgroundNormal={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationFocus={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
DecorationHover={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
ForegroundActive={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
ForegroundInactive={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
ForegroundLink={{base16-rgb-r}},{{base16-rgb-b}},{{base16-rgb-b}}
ForegroundNegative={{base12-rgb-r}},{{base12-rgb-b}},{{base12-rgb-b}}
ForegroundNeutral={{base13-rgb-r}},{{base13-rgb-b}},{{base13-rgb-b}}
ForegroundNormal={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundPositive={{base14-rgb-r}},{{base14-rgb-g}},{{base14-rgb-b}}
ForegroundVisited={{base17-rgb-r}},{{base17-rgb-g}},{{base17-rgb-b}}

[Colors:Complementary]
BackgroundAlternate={{base02-rgb-r}},{{base02-rgb-b}},{{base02-rgb-b}}
BackgroundNormal={{base10-rgb-r}},{{base10-rgb-g}},{{base10-rgb-b}}
DecorationFocus={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
DecorationHover={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
ForegroundActive={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
ForegroundInactive={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
ForegroundLink={{base16-rgb-r}},{{base16-rgb-b}},{{base16-rgb-b}}
ForegroundNegative={{base12-rgb-r}},{{base12-rgb-b}},{{base12-rgb-b}}
ForegroundNeutral={{base13-rgb-r}},{{base13-rgb-b}},{{base13-rgb-b}}
ForegroundNormal={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundPositive={{base14-rgb-r}},{{base14-rgb-g}},{{base14-rgb-b}}
ForegroundVisited={{base17-rgb-r}},{{base17-rgb-g}},{{base17-rgb-b}}

[Colors:Header]
BackgroundAlternate={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
BackgroundNormal={{base10-rgb-r}},{{base10-rgb-g}},{{base10-rgb-b}}
DecorationFocus={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
DecorationHover={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
ForegroundActive={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
ForegroundInactive={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
ForegroundLink={{base16-rgb-r}},{{base16-rgb-b}},{{base16-rgb-b}}
ForegroundNegative={{base12-rgb-r}},{{base12-rgb-b}},{{base12-rgb-b}}
ForegroundNeutral={{base13-rgb-r}},{{base13-rgb-b}},{{base13-rgb-b}}
ForegroundNormal={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundPositive={{base14-rgb-r}},{{base14-rgb-g}},{{base14-rgb-b}}
ForegroundVisited={{base17-rgb-r}},{{base17-rgb-g}},{{base17-rgb-b}}

[Colors:Header][Inactive]
BackgroundAlternate={{base10-rgb-r}},{{base10-rgb-g}},{{base10-rgb-b}}
BackgroundNormal={{base11-rgb-r}},{{base11-rgb-g}},{{base11-rgb-b}}
DecorationFocus={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
DecorationHover={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
ForegroundActive={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
ForegroundInactive={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
ForegroundLink={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
ForegroundNegative={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundNeutral={{base0a-rgb-r}},{{base0a-rgb-g}},{{base0a-rgb-b}}
ForegroundNormal={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
ForegroundPositive={{base0b-rgb-r}},{{base0b-rgb-g}},{{base0b-rgb-b}}
ForegroundVisited={{base0e-rgb-r}},{{base0e-rgb-g}},{{base0e-rgb-b}}

[Colors:Selection]
BackgroundAlternate={{base02-rgb-r}},{{base02-rgb-b}},{{base02-rgb-b}}
BackgroundNormal={{base02-rgb-r}},{{base02-rgb-g}},{{base02-rgb-b}}
DecorationFocus={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
DecorationHover={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
ForegroundActive={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundInactive={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
ForegroundLink={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
ForegroundNegative={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundNeutral={{base0a-rgb-r}},{{base0a-rgb-g}},{{base0a-rgb-b}}
ForegroundNormal={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundPositive={{base0b-rgb-r}},{{base0b-rgb-g}},{{base0b-rgb-b}}
ForegroundVisited={{base0e-rgb-r}},{{base0e-rgb-g}},{{base0e-rgb-b}}

[Colors:Tooltip]
BackgroundAlternate={{base10-rgb-r}},{{base10-rgb-g}},{{base10-rgb-b}}
BackgroundNormal={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationFocus={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
DecorationHover={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
ForegroundActive={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
ForegroundInactive={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
ForegroundLink={{base16-rgb-r}},{{base16-rgb-b}},{{base16-rgb-b}}
ForegroundNegative={{base12-rgb-r}},{{base12-rgb-b}},{{base12-rgb-b}}
ForegroundNeutral={{base13-rgb-r}},{{base13-rgb-b}},{{base13-rgb-b}}
ForegroundNormal={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundPositive={{base14-rgb-r}},{{base14-rgb-g}},{{base14-rgb-b}}
ForegroundVisited={{base17-rgb-r}},{{base17-rgb-g}},{{base17-rgb-b}}

[Colors:View]
BackgroundAlternate={{base10-rgb-r}},{{base10-rgb-g}},{{base10-rgb-b}}
BackgroundNormal={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationFocus={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
DecorationHover={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
ForegroundActive={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
ForegroundInactive={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
ForegroundLink={{base16-rgb-r}},{{base16-rgb-b}},{{base16-rgb-b}}
ForegroundNegative={{base12-rgb-r}},{{base12-rgb-b}},{{base12-rgb-b}}
ForegroundNeutral={{base13-rgb-r}},{{base13-rgb-b}},{{base13-rgb-b}}
ForegroundNormal={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundPositive={{base14-rgb-r}},{{base14-rgb-g}},{{base14-rgb-b}}
ForegroundVisited={{base17-rgb-r}},{{base17-rgb-g}},{{base17-rgb-b}}

[Colors:Window]
BackgroundAlternate={{base10-rgb-r}},{{base10-rgb-g}},{{base10-rgb-b}}
BackgroundNormal={{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}}
DecorationFocus={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
DecorationHover={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
ForegroundActive={{base0d-rgb-r}},{{base0d-rgb-g}},{{base0d-rgb-b}}
ForegroundInactive={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
ForegroundLink={{base16-rgb-r}},{{base16-rgb-b}},{{base16-rgb-b}}
ForegroundNegative={{base12-rgb-r}},{{base12-rgb-b}},{{base12-rgb-b}}
ForegroundNeutral={{base13-rgb-r}},{{base13-rgb-b}},{{base13-rgb-b}}
ForegroundNormal={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundPositive={{base14-rgb-r}},{{base14-rgb-g}},{{base14-rgb-b}}
ForegroundVisited={{base17-rgb-r}},{{base17-rgb-g}},{{base17-rgb-b}}

[General]
ColorScheme={{scheme-name}}
Name={{scheme-name}}
shadeSortColumn=true

[KDE]
contrast=4

[WM]
activeBackground={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
activeBlend={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
activeForeground={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
inactiveBackground={{base10-rgb-r}},{{base10-rgb-g}},{{base10-rgb-b}}
inactiveBlend={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
inactiveForeground={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
