! config for low-level X applications
! xorg-xrdb should be installed

! Xft Settings
! https://ricostacruz.com/til/fractional-scaling-on-xorg-linux
Xft.dpi: 96
! Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xcursor.size: 48
Xcursor.theme: 'Capitaine-cursors-light'

! UXTerm Settings
UXTerm*allowBoldFonts: false
UXTerm*termName: xterm-256color

! XTerm
XTerm.termName: xterm-256color
Xterm*decTerminalID    :   vt340
XTerm*numColorRegisters: 256
Xterm*faceName: Monospace
Xterm*facesize: 12

! Colorscheme
! scheme: "codedark"
! author: "Tomas Iser (https://github.com/tomasiser)"

*.foreground:   #d4d4d4
*.background:   #1e1e1e
*.cursorColor:  #d4d4d4

! black
*.color0:       #1e1e1e
*.color8:       #3c3c3c

! red
*.color1:       #d16969
*.color9:       #d16969

! green
*.color2:       #608b4e
*.color10:      #608b4e

! yellow
*.color3:       #d7ba7d
*.color11:      #d7ba7d

! blue
*.color4:       #569cd6
*.color12:      #569cd6

! magenta
*.color5:       #c586c0
*.color13:      #c586c0

! cyan
*.color6:       #9cdcfe
*.color14:      #9cdcfe

! white
*.color7:       #d4d4d4
*.color15:      #ffffff
