[Desktop Entry]
Version=1.0
Name=Chromium
Comment=Access the Internet
GenericName=Web Browser
# NOTE: chromium does not accept wayland-input <2023-02-15>
Exec=env GTK_IM_MODULE=fcitx5 chromium --ozone-platform-hint=auto --gtk-version=4 %U
StartupNotify=true
Terminal=false
Icon=chromium
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=env GTK_IM_MODULE=fcitx5 chromium --ozone-platform-hint=auto --gtk-version=4 %U

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=env GTK_IM_MODULE=fcitx5 chromium --ozone-platform-hint=auto --gtk-version=4 --incognito %U
