# NOTE:
# zmodule 은 built-in module 과 이름이 겹치면 안된다! <2025-06-01>
# NOTE: my- prefix 는 namespace 충돌을 피하기 위한 것.

# This is not sourced during shell startup, and it's only used to configure the
# zimfw plugin manager.

###############################################################################
# Modules
###############################################################################

zmodule direnv
# zmodule "$ZDOTDIR/my-p10k-instant-prompt" # direnv should be loaded before p10k-instant-prompt

# 단순 환경변수 설정 또는 alias 설정만 있는 모듈들
zmodule "$ZDOTDIR/my-bat"
zmodule "$ZDOTDIR/my-cheat"
zmodule "$ZDOTDIR/my-duf"
zmodule "$ZDOTDIR/my-eza"
zmodule "$ZDOTDIR/my-flatpak"
zmodule "$ZDOTDIR/my-jq"
zmodule "$ZDOTDIR/my-nix"
zmodule "$ZDOTDIR/my-podman"
zmodule "$ZDOTDIR/my-pueue"
zmodule "$ZDOTDIR/my-rsync"
zmodule "$ZDOTDIR/my-systemd"
zmodule "$ZDOTDIR/my-tmux"
zmodule "$ZDOTDIR/my-zimfw"

# 자체 함수 선언이 있거나 복잡한 모듈
zmodule environment
# zmodule input
zmodule termtitle
zmodule "$ZDOTDIR/my-lf"
zmodule "$ZDOTDIR/my-yazi"
zmodule "$ZDOTDIR/my-navi"
# zmodule "MichaelAquilina/zsh-you-should-use"
zmodule olets/zsh-abbr --source zsh-abbr.plugin.zsh --use git  # it includes submodules

zmodule "$ZDOTDIR/my-git" # forgit 보다 먼저 로드해야 한다.
zmodule wfxr/forgit --source forgit.plugin.zsh

# 기타
zmodule "$ZDOTDIR/my-utilities"

# TODO: c-r 맵핑 해제. fzf 랑 겹침 <2025-06-29>
zmodule jeffreytse/zsh-vi-mode

zmodule "$ZDOTDIR/my-fzf"
zmodule fzf

###############################################################################
# Prompt
###############################################################################

# zmodule sindresorhus/pure --source async.zsh --source pure.zsh # 내부에서 git 호출
# zmodule romkatv/powerlevel10k --use degit
# zmodule "$ZDOTDIR/my-omp"
zmodule "$ZDOTDIR/my-starship"

###############################################################################
# Completion
###############################################################################

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions --fpath src

# Enables and configures smart and extensive tab completion.
# completion must be sourced after all modules that add completion definitions.
# zmodule completion # init compinit

zmodule "$ZDOTDIR/my-compinit"
zmodule Aloxaf/fzf-tab --source fzf-tab.plugin.zsh # source after compinit


###############################################################################
# Modules that must be initialized after compinit
###############################################################################

# > For completions to work, the above line must be added after compinit is called. You may have to rebuild your completions cache by running rm ~/.zcompdump*; compinit.
zmodule "$ZDOTDIR/my-zoxide"


###############################################################################
# Modules that must be initialized last
###############################################################################

# Fish-like syntax highlighting for Zsh.
# zsh-users/zsh-syntax-highlighting must be sourced after completion
zmodule zsh-users/zsh-syntax-highlighting

# Fish-like history search (up arrow) for Zsh.
# must be sourced after zsh-users/zsh-syntax-highlighting
# zmodule zsh-users/zsh-history-substring-search # use fzf's ctrl-r instead

# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions

##########################################################
# vi:ft=zsh
