# NOTE:
#   - following version 0.1.1 of base24 <2025-07-28>
#   - <https://github.com/tinted-theming/base24/blob/main/styling.md>
#
# Base24: {{scheme-name}}
# Scheme by {{scheme-author}}

[colors]
foreground = "#{{base05-hex}}"
background = "#{{base00-hex}}"

selection_bg = "#{{base02-hex}}"
selection_fg = "#{{base05-hex}}"

cursor_bg = "#{{base05-hex}}"
cursor_border = "#{{base05-hex}}"
cursor_fg = "#{{base00-hex}}"

ansi = [
  "#{{base00-hex}}",
  "#{{base08-hex}}",
  "#{{base0B-hex}}",
  "#{{base0A-hex}}",
  "#{{base0D-hex}}",
  "#{{base0E-hex}}",
  "#{{base0C-hex}}",
  "#{{base06-hex}}",
]

brights = [
  "#{{base03-hex}}",
  "#{{base12-hex}}",
  "#{{base14-hex}}",
  "#{{base13-hex}}",
  "#{{base16-hex}}",
  "#{{base17-hex}}",
  "#{{base15-hex}}",
  "#{{base07-hex}}",
]

# vi:ft=toml
