pane_frames true
mouse_mode true
theme "codedark"
themes {
    codedark {
        fg "#d4d4d4"
        bg "#1e1e1e"
        black "#1e1e1e"
        red "#d16969"
        green "#608b4e"
        yellow "#d7ba7d"
        blue "#569cd6"
        magenta "#c586c0"
        cyan "#9cdcfe"
        white "#d4d4d4"
        orange "#ffa500"
    }
}
