[Desktop Entry]
Type=Application
Name=LXRandR autostart
Comment=Start xrandr with settings done in LXRandR
Exec=sh -c 'xrandr --output HDMI-A-0 --mode 3840x2160 --rate 60.00 --output eDP --mode 2560x1440 --rate 165.00 --right-of HDMI-A-0'
OnlyShowIn=LXDE
