snippet while "while-loop"
	while:
		while `${1:condition}`; do \
			"${0: ping -c 1 localhost}"; \
		done

snippet for "for-loop"
	for file in `${1:ls .}`; do \
		"${0:echo $file}"; \
	done

snippet if "if"
	if `${1:condition}`; then \
		"${0:echo 'true'}"; \
	else \
		"${0:echo 'false'}"; \
	fi
