/install-id
/logs
/run
gpu_cache.json

# Agents
/agent/*.db
/agent/*.db-shm
/agent/*.db-wal
/agent/cache
/agent/custom-session-files
/agent/last-changelog-version
/agent/sessions
/agent/terminal-sessions
