# https://nixos.org/manual/nix/stable/language/index.html

snippet sdefault.nix "default.nix"
	{pkgs ? import <nixpkgs> {}}:
	$0
snippet b "bracket"
	[$0];
snippet p "parentheses"
	($0);
snippet if if-then-else
	if (${1:true}) then ($2) else ($3)
snippet im "import other nix file"
	import ${0:path-to-other-nix}
snippet funs "example of function that expects a set"
	{ x, y ? "bar", ... } @ args: x + y
snippet fun
	{${1:...}}: {
		$0
	}
snippet ims
	imports = [
		$0
	];
