/backups
/cache
/debug
/file-history
/plans
/plugins/marketplaces
/projects
/session-env
/shell-snapshots
/statsig
/tasks
/telemetry
/todos
/transcripts

# files
/.credentials.json
/config/notification_states.json
/history.jsonl
/mcp-needs-auth-cache.json
/stats-cache.json
