snippet keys "Object.keys()"
	Object.keys(${1:TM_SELECTED_TEXT}) $0
snippet values "Object.values()"
	Object.values(${1:TM_SELECTED_TEXT}) $0
snippet entries "Object.entries()"
	Object.entries(${1:TM_SELECTED_TEXT}) $0
